
.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.aboutme__conteiner {
  max-width: 65%;

}

.aboutme__conteiner h1 {
  font-size: 4rem;
}

.aboutme__conteiner p {
  font-size: 1rem;
  line-height: 160%;
  margin: 1rem 0;
}


.aboutme__img>img {
  max-width: 300px;
  position: absolute;
  top: -30px;
  left: 0;
  animation: move-aboutme 1.5s infinite alternate;
}

@keyframes move-aboutme {
  0% {
    top: 0;
  }
  30% {
    bottom: 0;
  }
}


@media screen and (max-width:1310px) {

  .aboutme__conteiner {
    max-width: 60%;
  }

  .aboutme h1 {
    font-size: 2rem;
  }

  .aboutme__img>img {
    max-width: 250px;
  }
  
}

@media screen and (max-width:910px) {
  .aboutme__conteiner {
    max-width: 95%;
  }

  .aboutme__section {
    height: 50vh;
  }
  

  .aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .aboutme__conteiner h1 {
    font-size: 2rem;

  }

  .aboutme__img>img {
    margin-bottom: 0rem;
    position: initial;
  }
  
}