.header__socials {
  display: flex;
  gap: 1rem;
  margin: 0.4rem 0;
}

.header__socials a {
  display: inline-block;
  color: green;
  font-size: 1.5rem;
  transition: var(--transition);
}

.header__socials a:hover {
  transform: translateX(5px);
}

.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10% 11%;
}

.img>img {
  max-width: 380px;
  position: absolute;
  top: calc(30% - 10%);
  right: calc(20% - 10%);
  margin-right: 50px;
  animation: move-hero 1.5s infinite alternate;
}

.img {
   height: 100px;
  }


@keyframes move-hero {
  0% {
    top: 110px;
  }
  100% {
    bottom: 0;
  }
}


@media screen and (max-width:1210px) {
  .header__conteiner h1 {
    font-size: 4rem;
  }

  .img>img {
    max-width: 250px;
    margin: 0 auto;
  }
  
}

@media screen and (max-width:910px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header__conteiner h1 {
    font-size: 5rem;
  }

  .img>img {
    position: initial;
  }
  
}