*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height:100%;width:100%;
  font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;scroll-behavior:smooth;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{color:inherit;}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --color-textgreen: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,121,11,1) 40%, rgba(9,125,23,1) 69%, rgba(55,178,4,1) 82%, rgba(224,255,0,1) 100%);
  --color-textblack: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(14,13,13,1) 100%);
  --color-bg: rgba(255,255,255,0.1);
  --color-bg-sd: rgba(255,255,255,0.3);
  --color-bg-liner: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);;
  --transition: all 0.3s;
}

section {
  font-family: var(--font-family);
  padding: 0 11%;
  margin: 0 auto;
}

section h3, span {
  color: rgba(9,121,11,1);
  font-size: 1.2rem;
}

section p {
  color: grey;
  font-size: 1.2rem;
}

section h1 {
  font-size: 5rem;
}